<a href="https://colab.research.google.com/github/spentaur/DS-Unit-1-Sprint-2-Data-Wrangling-and-Storytelling/blob/master/module1-join-and-reshape-data/LS_DS_121_Join_and_Reshape_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

_Lambda School Data Science_

# Join and Reshape datasets

Objectives
- concatenate data with pandas
- merge data with pandas
-  understand tidy data formatting
-  melt and pivot data with pandas

Links
- [Pandas Cheat Sheet](https://github.com/pandas-dev/pandas/blob/master/doc/cheatsheet/Pandas_Cheat_Sheet.pdf)
- [Tidy Data](https://en.wikipedia.org/wiki/Tidy_data)
  - Combine Data Sets: Standard Joins
  - Tidy Data
  - Reshaping Data
- Python Data Science Handbook
  - [Chapter 3.6](https://jakevdp.github.io/PythonDataScienceHandbook/03.06-concat-and-append.html), Combining Datasets: Concat and Append
  - [Chapter 3.7](https://jakevdp.github.io/PythonDataScienceHandbook/03.07-merge-and-join.html), Combining Datasets: Merge and Join
  - [Chapter 3.8](https://jakevdp.github.io/PythonDataScienceHandbook/03.08-aggregation-and-grouping.html), Aggregation and Grouping
  - [Chapter 3.9](https://jakevdp.github.io/PythonDataScienceHandbook/03.09-pivot-tables.html), Pivot Tables
  
Reference
- Pandas Documentation: [Reshaping and Pivot Tables](https://pandas.pydata.org/pandas-docs/stable/reshaping.html)
- Modern Pandas, Part 5: [Tidy Data](https://tomaugspurger.github.io/modern-5-tidy.html)

## Download data

We’ll work with a dataset of [3 Million Instacart Orders, Open Sourced](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2)!

In [57]:
!wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

--2019-07-25 06:13:15--  https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.164.221
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.164.221|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 205548478 (196M) [application/x-gzip]
Saving to: ‘instacart_online_grocery_shopping_2017_05_01.tar.gz’

instacart_online_gr 100%[===================>] 196.03M  33.4MB/s    in 5.9s

2019-07-25 06:13:21 (33.1 MB/s) - ‘instacart_online_grocery_shopping_2017_05_01.tar.gz’ saved [205548478/205548478]

In [58]:
!tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

instacart_2017_05_01/
instacart_2017_05_01/._aisles.csv
instacart_2017_05_01/aisles.csv
instacart_2017_05_01/._departments.csv
instacart_2017_05_01/departments.csv
instacart_2017_05_01/._order_products__prior.csv
instacart_2017_05_01/order_products__prior.csv
instacart_2017_05_01/._order_products__train.csv
instacart_2017_05_01/order_products__train.csv
instacart_2017_05_01/._orders.csv
instacart_2017_05_01/orders.csv
instacart_2017_05_01/._products.csv
instacart_2017_05_01/products.csv

In [59]:
%cd instacart_2017_05_01

/content/instacart_2017_05_01/instacart_2017_05_01

In [60]:
!ls -lh *.csv

-rw-r--r-- 1 502 staff 2.6K May  2  2017 aisles.csv
-rw-r--r-- 1 502 staff  270 May  2  2017 departments.csv
-rw-r--r-- 1 502 staff 551M May  2  2017 order_products__prior.csv
-rw-r--r-- 1 502 staff  24M May  2  2017 order_products__train.csv
-rw-r--r-- 1 502 staff 104M May  2  2017 orders.csv
-rw-r--r-- 1 502 staff 2.1M May  2  2017 products.csv

# Join Datasets

## Goal: Reproduce this example

The first two orders for user id 1:

In [61]:
from IPython.display import display, Image
url = 'https://cdn-images-1.medium.com/max/1600/1*vYGFQCafJtGBBX5mbl0xyw.png'
example = Image(url=url, width=600)

display(example)

In [0]:
import pandas as pd

## Load data

Here's a list of all six CSV filenames

In [63]:
!ls -lh *.csv

-rw-r--r-- 1 502 staff 2.6K May  2  2017 aisles.csv
-rw-r--r-- 1 502 staff  270 May  2  2017 departments.csv
-rw-r--r-- 1 502 staff 551M May  2  2017 order_products__prior.csv
-rw-r--r-- 1 502 staff  24M May  2  2017 order_products__train.csv
-rw-r--r-- 1 502 staff 104M May  2  2017 orders.csv
-rw-r--r-- 1 502 staff 2.1M May  2  2017 products.csv

For each CSV
- Load it with pandas
- Look at the dataframe's shape
- Look at its head (first rows)
- `display(example)`
- Which columns does it have in common with the example we want to reproduce?

### aisles

In [64]:
aisles = pd.read_csv('aisles.csv')
print(aisles.shape)
aisles.head()

(134, 2)

   aisle_id                       aisle
0         1       prepared soups salads
1         2           specialty cheeses
2         3         energy granola bars
3         4               instant foods
4         5  marinades meat preparation

In [65]:
display(example)

In [0]:
# none

### departments

In [67]:
departments = pd.read_csv('departments.csv')
print(departments.shape)
departments.head()

(21, 2)

   department_id department
0              1     frozen
1              2      other
2              3     bakery
3              4    produce
4              5    alcohol

In [0]:
# none

### order_products__prior

In [0]:
order_products__prior = pd.read_csv('order_products__prior.csv')
print(order_products__prior.shape)
order_products__prior.head()

In [0]:
display(example)

In [0]:
# order_id, product_id

### order_products__train

In [0]:
order_products__train = pd.read_csv('order_products__train.csv')
print(order_products__train.shape)
order_products__train.head()

In [0]:
# order_id, product_id

### orders

In [0]:
orders = pd.read_csv('orders.csv')
print(orders.shape)
orders.head()

In [0]:
display(example)

In [0]:
# order_id, user_id, order_num, order_dow, order_hour_of_day

### products

In [0]:
products = pd.read_csv('products.csv')
print(products.shape)
products.head()

In [0]:
# product_id, product_name

## Concatenate order_products__prior and order_products__train

In [0]:
order_products = pd.concat([order_products__prior, order_products__train])
print(order_products.shape)
order_products.head()

In [0]:
assert len(order_products) == len(order_products__prior) + len(order_products__train), 'Concatenate order_products__prior and order_products__train went wrong'

## Get a subset of orders — the first two orders for user id 1

From `orders` dataframe:
- user_id
- order_id
- order_number
- order_dow
- order_hour_of_day

In [0]:
user_1_first_2 = orders[['user_id', 'order_id', 'order_number', 'order_dow', 'order_hour_of_day']].loc[(orders['user_id'] == 1) & (orders['order_number'] <= 2)]
print(user_1_first_2.shape)
user_1_first_2.head()

In [0]:
[col for col in orders.columns if col not in ['eval_set', 'days_since_prior_order']]

## Merge dataframes

Merge the subset from `orders` with columns from `order_products`

In [0]:
merged = pd.merge(user_1_first_2, order_products[['order_id', 'add_to_cart_order', 'product_id']], how='left', on='order_id')
print(merged.shape)
merged.head()

In [0]:
user_1_first_2.shape, order_products.shape, merged.shape

Merge with columns from `products`

In [0]:
final = pd.merge(merged, products[['product_id', 'product_name']], how='left', on='product_id')
print(final.shape)
final.head()

In [0]:
display(example)

# Reshape Datasets

## Why reshape data?

#### Some libraries prefer data in different formats

For example, the Seaborn data visualization library prefers data in "Tidy" format often (but not always).

> "[Seaborn will be most powerful when your datasets have a particular organization.](https://seaborn.pydata.org/introduction.html#organizing-datasets) This format ia alternately called “long-form” or “tidy” data and is described in detail by Hadley Wickham. The rules can be simply stated:

> - Each variable is a column
- Each observation is a row

> A helpful mindset for determining whether your data are tidy is to think backwards from the plot you want to draw. From this perspective, a “variable” is something that will be assigned a role in the plot."

#### Data science is often about putting square pegs in round holes

Here's an inspiring [video clip from _Apollo 13_](https://www.youtube.com/watch?v=ry55--J4_VQ): “Invent a way to put a square peg in a round hole.” It's a good metaphor for data wrangling!

## Hadley Wickham's Examples

From his paper, [Tidy Data](http://vita.had.co.nz/papers/tidy-data.html)

In [0]:
%matplotlib inline
import pandas as pd
import numpy as np
import seaborn as sns

table1 = pd.DataFrame(
    [[np.nan, 2],
     [16,    11], 
     [3,      1]],
    index=['John Smith', 'Jane Doe', 'Mary Johnson'], 
    columns=['treatmenta', 'treatmentb'])

table2 = table1.T

"Table 1 provides some data about an imaginary experiment in a format commonly seen in the wild. 

The table has two columns and three rows, and both rows and columns are labelled."

In [0]:
table1

"There are many ways to structure the same underlying data. 

Table 2 shows the same data as Table 1, but the rows and columns have been transposed. The data is the same, but the layout is different."

In [0]:
table2

"Table 3 reorganises Table 1 to make the values, variables and obserations more clear.

Table 3 is the tidy version of Table 1. Each row represents an observation, the result of one treatment on one person, and each column is a variable."

| name         | trt | result |
|--------------|-----|--------|
| John Smith   | a   | -      |
| Jane Doe     | a   | 16     |
| Mary Johnson | a   | 3      |
| John Smith   | b   | 2      |
| Jane Doe     | b   | 11     |
| Mary Johnson | b   | 1      |

## Table 1 --> Tidy

We can use the pandas `melt` function to reshape Table 1 into Tidy format.

In [0]:
table1.reset_index(inplace=True)
tidy = table1.melt(id_vars='index')
tidy

In [0]:
tidy = tidy.rename(columns={'index': 'name', 'variable': 'trt', 'value': 'result'})
tidy

In [0]:
tidy['trt'] = tidy['trt'].str.replace('treatment', '')
tidy

## Table 2 --> Tidy

In [0]:
##### LEAVE BLANK --an assignment exercise #####
table2

In [0]:
tidy2 = table2.stack(dropna=False).reset_index()
tidy2.columns = ['trt', 'name', 'result']
tidy2['trt'] = tidy2['trt'].str.replace('treatment', '')
tidy2 = tidy2[['name', 'trt', 'result']]
tidy2

## Tidy --> Table 1

The `pivot_table` function is the inverse of `melt`.

In [0]:
wide = tidy.pivot_table(values='result', index='name', columns='trt')
wide

## Tidy --> Table 2

In [0]:
##### LEAVE BLANK --an assignment exercise #####
wide2 = tidy2.pivot_table(values='result', index='trt', columns='name')
wide2.index = ['treatmenta', 'treatmentb']
wide2 = wide2[['John Smith', 'Jane Doe', 'Mary Johnson']]
del wide2.columns.name
wide2

# Seaborn example

The rules can be simply stated:

- Each variable is a column
- Each observation is a row

A helpful mindset for determining whether your data are tidy is to think backwards from the plot you want to draw. From this perspective, a “variable” is something that will be assigned a role in the plot."

In [0]:
  sns.catplot(x='trt', y='result', col='name', 
            kind='bar', data=tidy, height=2);

## Now with Instacart data

In [0]:
import pandas as pd
import numpy as np

In [0]:
products = pd.read_csv('products.csv')

order_products = pd.concat([pd.read_csv('order_products__prior.csv'), 
                            pd.read_csv('order_products__train.csv')])

orders = pd.read_csv('orders.csv')

## Goal: Reproduce part of this example

Instead of a plot with 50 products, we'll just do two — the first products from each list
- Half And Half Ultra Pasteurized
- Half Baked Frozen Yogurt

In [0]:
from IPython.display import display, Image
url = 'https://cdn-images-1.medium.com/max/1600/1*wKfV6OV-_1Ipwrl7AjjSuw.png'
example = Image(url=url, width=600)

display(example)

So, given a `product_name` we need to calculate its `order_hour_of_day` pattern.

## Subset and Merge

One challenge of performing a merge on this data is that the `products` and `orders` datasets do not have any common columns that we can merge on. Due to this we will have to use the `order_products` dataset to provide the columns that we will use to perform the merge.

In [0]:
product_names = [
    'Half And Half Ultra Pasteurized',
    'Half Baked Frozen Yogurt'
]

In [0]:
products.columns.to_list(), orders.columns.to_list(), order_products.columns.to_list()

In [0]:
merged = (products[['product_id', 'product_name']]
          .merge(order_products[['product_id','order_id']])
          .merge(orders[['order_id', 'order_hour_of_day']]))
print(merged.shape)
merged.head()

In [0]:
condition = merged['product_name'].isin(product_names)

In [0]:
subset = merged[condition]
print(subset.shape)
subset.head()

## 4 ways to reshape and plot

### 1. value_counts

In [0]:
subset.groupby('order_hour_of_day')['product_name'].value_counts().unstack().plot();

### 2. crosstab

In [0]:
(pd.crosstab(subset['order_hour_of_day'], subset['product_name'],normalize='columns')*100).plot();

### 3. Pivot Table

### 4. melt

# Assignment

## Join Data Section

These are the top 10 most frequently ordered products. How many times was each ordered? 

1. Banana
2. Bag of Organic Bananas
3. Organic Strawberries
4. Organic Baby Spinach 
5. Organic Hass Avocado
6. Organic Avocado
7. Large Lemon 
8. Strawberries
9. Limes 
10. Organic Whole Milk

First, write down which columns you need and which dataframes have them.

Next, merge these into a single dataframe.

Then, use pandas functions from the previous lesson to get the counts of the top 10 most frequently ordered products.

## Reshape Data Section

- Replicate the lesson code
- Complete the code cells we skipped near the beginning of the notebook
- Table 2 --> Tidy
- Tidy --> Table 2
- Load seaborn's `flights` dataset by running the cell below. Then create a pivot table showing the number of passengers by month and year. Use year for the index and month for the columns. You've done it right if you get 112 passengers for January 1949 and 432 passengers for December 1960.

In [0]:
most_freq_products = """Banana
Bag of Organic Bananas
Organic Strawberries
Organic Baby Spinach
Organic Hass Avocado
Organic Avocado
Large Lemon
Strawberries
Limes
Organic Whole Milk"""
most_freq_products = most_freq_products.split("\n")

In [0]:
products.columns, orders.columns, order_products.columns

In [0]:
order_products.head()

In [0]:
# product_id, product_name, order_id
merged = order_products[['order_id', 'product_id']].merge(products[['product_id', 'product_name']], how="left")

In [0]:
top_10 = merged.loc[merged['product_name'].isin(most_freq_products)]
top_10.head()

In [0]:
top_10['product_name'].value_counts().head()

In [0]:
merged['product_name'].value_counts().head(10).index.tolist()

In [0]:
# i dont think this is the intended way to do it?
# my thinking is the data is already tidied?

In [0]:
flights = sns.load_dataset('flights')

In [0]:
# Load seaborn's flights dataset by running the cell below. Then create a pivot 
# table showing the number of passengers by month and year. Use year for the 
# index and month for the columns. You've done it right if you get 112 
# passengers for January 1949 and 432 passengers for December 1960.

In [0]:
flights

In [0]:
wide_flights = flights.pivot_table(index='year', columns='month', values='passengers')
wide_flights

In [0]:
##### YOUR CODE HERE #####

## Join Data Stretch Challenge

The [Instacart blog post](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2) has a visualization of "**Popular products** purchased earliest in the day (green) and latest in the day (red)." 

The post says,

> "We can also see the time of day that users purchase specific products.

> Healthier snacks and staples tend to be purchased earlier in the day, whereas ice cream (especially Half Baked and The Tonight Dough) are far more popular when customers are ordering in the evening.

> **In fact, of the top 25 latest ordered products, the first 24 are ice cream! The last one, of course, is a frozen pizza.**"

Your challenge is to reproduce the list of the top 25 latest ordered popular products.

We'll define "popular products" as products with more than 2,900 orders.

## Reshape Data Stretch Challenge

_Try whatever sounds most interesting to you!_

- Replicate more of Instacart's visualization showing "Hour of Day Ordered" vs "Percent of Orders by Product"
- Replicate parts of the other visualization from [Instacart's blog post](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2), showing "Number of Purchases" vs "Percent Reorder Purchases"
- Get the most recent order for each user in Instacart's dataset. This is a useful baseline when [predicting a user's next order](https://www.kaggle.com/c/instacart-market-basket-analysis)
- Replicate parts of the blog post linked at the top of this notebook: [Modern Pandas, Part 5: Tidy Data](https://tomaugspurger.github.io/modern-5-tidy.html)

In [0]:
# get popular products
# get mean order times for popular products
# get nlargest(late) and nsmallest(early) mean order time for popular products
# get percent of order by hour of late
# plot

In [0]:
merged = (products[['product_id', 'product_name']]
          .merge(order_products[['product_id','order_id']])
          .merge(orders[['order_id', 'order_hour_of_day']]))

In [0]:
merged.head()

In [0]:
# get popular products
# %%time
# popular_products = merged.pivot_table(index='product_name', values='order_id', aggfunc=len).rename(columns={"order_id": "count"})
# popular_products = popular_products.loc[popular_products['count'] > 2900].reset_index()
# popular_products_names = popular_products['product_name'].to_list()
# print(popular_products.head())

In [0]:
# get popular products with mean hour
popular_products = merged.groupby('product_name', as_index=False).aggregate(
    {'order_id':len, 'order_hour_of_day':np.mean}).rename(
    columns={"order_id": "count", "order_hour_of_day": "mean_hour"})
popular_products = popular_products[popular_products['count'] > 2900]
# get nlargest(late) and nsmallest(early) mean order time for popular products
late = popular_products.nlargest(25, 'mean_hour')
late_names = late.sort_values('mean_hour', ascending=False)['product_name'].to_list()
# get orders where most popular late
late_df = merged.loc[merged['product_name'].isin(late_names)]
# get percent of order by hour of late
late_ct = pd.crosstab(late_df['order_hour_of_day'], late_df['product_name'], normalize='columns')*100
late_ct = late_ct[late_names]

# i dont know if this is the best way to do it, but it's the shortest way i've found

In [0]:
late.head()

In [0]:
# get mean order times for popular products
# merged_popular = merged.loc[merged['product_name'].isin(popular_products_names)]
# mean_hour = merged_popular.groupby('product_name')['order_hour_of_day'].mean()
# mean_hour = merged_popular.pivot_tabel(index='product_name')
# get nlargest(late) and nsmallest(early) mean order time for popular products
# late = mean_hour.nlargest(25).to_frame().rename(columns)
# late = late.merge(popular_products, how="left")
# late
# early = mean_hour.nsmallest(25)
# get percent of order by hour of late

In [0]:
# get mean hour for each product
# mean_hour = merged_popular.groupby('product_name')['order_hour_of_day'].mean()
# mean_hour
# late = mean_hour.nlargest(25)
# early = mean_hour.nsmallest(25)
# late_names = mean_hour.nlargest(25).index.tolist()
# early_names = mean_hour.nsmallest(25).index.tolist()
# early_df = early.to_frame().reset_index()
# late_df = late.to_frame().reset_index()
# early_df, late_df = early_df.rename(columns={'order_hour_of_day': 'mean_hour_of_orders'}), late_df.rename(columns={'order_hour_of_day': 'mean_hour_of_orders'})

In [0]:
# early_names_df = early_df.merge(popular_products_df.loc[popular_products_df['product_name'].isin(early_names)], how='left')
# early_names_df

In [0]:
# late_names_df = late_df.merge(popular_products_df.loc[popular_products_df['product_name'].isin(late_names)], how='left')
# late_names_df

In [0]:
# late_names_df.sort_values(by="mean_hour_of_orders", ascending=False, inplace=True)

In [0]:
# early_names_df.sort_values(by="mean_hour_of_orders", inplace=True)

In [0]:
# late_df = merged_popular.loc[merged_popular['product_name'].isin(late_names)]
# early_df = merged_popular.loc[merged_popular['product_name'].isin(early_names)]

In [0]:
# late_df.head()

In [0]:
# early_ct = pd.crosstab(early_df['order_hour_of_day'], early_df['product_name'], normalize='columns')*100
# early_ct

In [0]:
# late_ct = pd.crosstab(late_df['order_hour_of_day'], late_df['product_name'], normalize='columns')*100
# late_ct

In [0]:
# early_ct.plot(legend=False);

In [0]:
late_ct.plot();

In [0]:
import matplotlib.pyplot as plt
%matplotlib inline

In [0]:
# early_product_names = early_names_df['product_name'].to_list()
# early_product_names = '\n'.join(early_product_names)
late_product_names = late_names
late_product_names = '\n'.join(late_product_names)

In [0]:
fig = plt.figure(figsize=(13,8))
ax = plt.axes()

late_ct.plot(ax=ax, 
             legend=False,
             alpha=0.2,
             color='red',
             linewidth=1.2)
# early_ct.plot(ax=ax, 
#              legend=False,
#              alpha=0.2,
#              color='green')

plt.xticks(range(0, 25, 2))
plt.yticks(range(0, 16, 5))
plt.xlim([-1, 32])

plt.vlines(x=12, ymin=0, ymax=16, alpha=0.5, color='gray', linestyle='dashed', linewidth=1.0)

for spine in ax.spines.values():
    spine.set_visible(False)

ax.text(0.99, 0.95, late_product_names,
        verticalalignment='top', horizontalalignment='right',
        transform=ax.transAxes,
        color='darkred', fontsize=10)

plt.xlabel('Hour of Day Ordered')
plt.ylabel('Percent of Orders by Product')

plt.show()

In [0]:
display(example)
# 1471 x 888

In [0]:
# Your challenge is to reproduce the list of the top 25 latest ordered popular products.
# We can also see the time of day that users purchase specific products
# get only products with more than 2900